
/*Font Css*/

@font-face {
font-family: 'Billabong';
font-style: normal;
font-weight: normal;
src: local('Billabong'), url('Billabong.woff') format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=k6e5O52B6MekHtih-eM9afesZW2xOQ-xsNqO47m55DA&skey=8887f17a62203d44&v=v1) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=yrOSjsChZucrvtFmTHmr7g&skey=8887f17a62203d44&v=v1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
    	text-justify: inter-word;
	font-family: "avenir", sans-serif;
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;	
    background-image: url('https://raw.githubusercontent.com/bhojaksmith/bhojaksmith.github.io/master/background.jpg');
//	background: #f8f8f9	; /* fallback for old browsers */
	//background: #8869e0	; /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #24c6dc, #514a9d)fixed;  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #24c6dc, #514a9d)fixed;  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
	overflow: hidden;
 	font-size: 100%;
}
.navDesk{
	color: #202020;
	text-align: center;
	
}
#vr{
	text-decoration: none;
	color: #202020;
}
#vr:hover{
	text-decoration: underline;
	color: #A78AFA;
}
.content{
	color: #202020;
}
#about{
	text-align: center;
	
}
#sb{
	font-family: "Billabong";
}
#icn{
	color: #202020;
	text-align: center;
}
#icn:hover{
	color: #A78AFA;
}

u{
	cursor: pointer;
}
u:hover{
	color: #202020;
	text-decoration:none;
}
a{
	text-decoration: none;
}
.Maincontent{
		background: white;
		border: 2px solid rgba(0,0,0,0.15);
		border-radius:2%; 
		
		padding: 3% 0% ;
		
	}
	

	.white{
		border: 1px solid #A78AFA;
		text-decoration: none;
		padding: 2%;
		margin-left: auto;
		margin-right: auto;
		display: block; 
		text-align: center;	
	}
	.white:hover{
		border: 1px solid #A78AFA;
		font-weight: bolder;
		transition: ease-in 0.3s;
		background:#A78AFA;
		
	}

img{
	height: 100%;
	display: block;
	width:45%;
	 margin-left: auto;
  	margin-right: auto;
}
.content{
	display: block;
	margin-top: 0%;
	margin-left: 5%;
	margin-right:5%;
}

#about{
	text-align: center;
	font-size: 1.2em;
}
#sb{
	font-size:1.7em;
}
#icn{
	font-size: 1.55em;
	margin: 0% 5%
}
.desktopHide{
	text-align: center;
	margin-top: 5% ;
}

/*desktop site code*/
@media only screen and (min-width: 940px){
	.Maincontent{
		margin-left: 30%;
		margin-right:30%;	
		transform: translate(0%, 10%);
	}
}

/*mobile Code*/
@media only screen and (max-width: 400px){
	.Maincontent{			
		transform: translate(0%, 25%);
	}
	.white{
		border: 1px solid #A78AFA;
		color: white;
		transition: ease-in 0.3s;
		background:#A78AFA;
	}
}


/*Medium display code*/
@media (min-width: 768px) and (max-width:939px){
.Maincontent{			
		transform: translate(0%, 30%);
		margin-left: 5%;
		margin-right: 5%;
	}
	.white{
		border: 1px solid #A78AFA;
		color: white;
		transition: ease-in 0.3s;
		background:#A78AFA;
	}
}

/*Medium small display*/
@media (min-width: 401px) and (max-width:767px){
	.Maincontent{			
		transform: translate(0%, 50%);
	}
	.white{
		border: 1px solid #A78AFA;
		color: white;
		transition: ease-in 0.3s;
		background:#A78AFA;
	}
}
